.ag-tech {
  margin-top: 100px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 120px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 32px;
      line-height: 120%;
      color: $color-black-800;
      text-transform: uppercase;

      &::before {
        content: '';
        display: block;
        border-radius: 32px;
        width: 30%;
        height: 2px;
        background: $main-color;
      }
    }

    &-desc {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        max-width: 620px;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: $color-gray-500;
      }
    }
  }

  &__image {
    max-width: 500px;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 920px) {
  .ag-tech {
    margin-top: 80px;

    &__content {
      gap: 80px;
    }

    &__info {
      gap: 20px;

      h1 {
        font-size: 28px;
      }

      &-desc {
        gap: 10px;

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .ag-tech {
    margin-top: 50px;

    &__content {
      gap: 40px;
    }

    &__info {
      gap: 15px;

      h1 {
        font-size: 22px;
      }

      &-desc {
        gap: 10px;

        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .ag-tech {
    margin-top: 30px;

    &__content {
      gap: 20px;
    }

    &__info {
      gap: 10px;

      h1 {
        font-size: 16px;
      }

      &-desc {
        gap: 5px;

        p {
          font-size: 10px;
        }
      }
    }
  }
}