.greetings{
  min-height: 100vh;
  padding: 0 20px;
  background-color: $main-color;

  &-content{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;

    h1{
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 50px;
      line-height: 120%;
      color: $color-white-50;
      text-transform: uppercase;
    }

    p{
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;
      color: $color-white-50;
    }
  }

  &-direct{
    display: flex;
    flex-direction: column;
    gap: 10px;

    span{
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      color: $color-white-50;
    }

    &__links{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      a{
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: $color-white-50;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .greetings{
    &-content{
      gap: 20px;
  
      h1{
        font-size: 40px;
      }
  
      p{
        font-size: 26px;
      }
    }
  
    &-direct{
      gap: 10px;
  
      span{
        font-size: 18px;
      }
  
      &__links{
        a{
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .greetings{
    &-content{
      gap: 15px;
  
      h1{
        font-size: 30px;
      }
  
      p{
        font-size: 22px;
      }
    }
  
    &-direct{
      gap: 10px;
  
      span{
        font-size: 16px;
      }
  
      &__links{
        a{
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .greetings{
    &-content{
      gap: 10px;
  
      h1{
        font-size: 20px;
      }
  
      p{
        font-size: 18px;
      }
    }
  
    &-direct{
      gap: 10px;
  
      span{
        font-size: 14px;
      }
  
      &__links{
        a{
          font-size: 12px;
        }
      }
    }
  }
}