.trade-marks {
  margin-top: 150px;
  padding: 0 20px;

  h1 {
      font-family: "Montserrat";
    width: max-content;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: $color-black-800;
    text-transform: uppercase;

    &::before {
      margin-bottom: 30px;
      content: '';
      display: block;
      width: 40%;
      height: 2px;
      border-radius: 32px;
      background: $main-color;
    }
  }
}

.marks {
  padding: 0 20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &-card {
    max-width: 640px;
    padding: 40px 55px;
    box-sizing: border-box;
    border: 1px solid $color-white-100;
    display: flex;
    align-items: center;
    gap: 50px;
    transition: .6s all;

    &:hover {
      border: 1px solid $main-color;
    }

    &__icon {
      width: 140px;
      height: 140px;
      fill: $color-gray-500;
      transition: .6s all;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-title {
        width: max-content;
        font-weight: 400;
        font-size: 28px;
        line-height: 160%;
        color: $color-black-800;
        transition: .6s all;
      }

      p {
        max-width: 360px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $color-gray-500;
      }
    }
  }
}

.marks-card:hover .marks-card__icon {
  fill: $main-color;
}

.marks-card:hover .marks-card__content-title {
  color: $main-color;
}


@media screen and (max-width: 920px) {

  .trade-marks {
    margin-top: 130px;

    h1 {
      font-size: 32px;
    }
  }

  .marks {
    margin-top: 40px;

    &-card {
      padding: 35px 50px;
      gap: 40px;

      &__icon {
        width: 120px;
        height: 120px;
      }

      &__content {
        &-title {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {

  .trade-marks {
    margin-top: 80px;

    h1 {
      font-size: 24px;
    }
  }

  .marks {
    margin-top: 30px;

    &-card {
      padding: 30px 50px;
      gap: 30px;

      &__icon {
        width: 100px;
        height: 100px;
      }

      &__content {
        &-title {
          font-size: 20px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .trade-marks {
    margin-top: 50px;

    h1 {
      font-size: 15px;

      &::before {
        margin-bottom: 15px;
      }
    }
  }

  .marks {
    margin-top: 20px;

    &-card {
      padding: 15px 30px;
      flex-direction: column;
      gap: 20px;

      &__content {
        &-title {
          font-size: 16px;
        }

        p {
          font-size: 10px;
        }
      }
    }
  }
}