@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans/NotoSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue/BebasNeue-Regular.ttf');
  font-weight: 400;
}