$main-color: #5C8EE5;

$color-white-50: #FFFFFF;
$color-white-60: #FAFBFC;
$color-white-70: #F0F2F5;
$color-white-100: #EBEBF0;
$color-white-100-opacity: rgba(235, 235, 240, 0.2);
$color-white-150: #E4E4EB;

$color-gray-500: #828A99;

$color-black-800: #292D33;