.copyright{
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  &-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    p{
      font-weight: 400;
      font-size: 12px;
      line-height: 160%;
      color: $color-gray-500;
    }

    a{
      font-weight: 400;
      font-size: 12px;
      line-height: 160%;
      color: $color-gray-500;
      text-decoration: underline;
      transition: .6s all;

      &:hover{
        color: $main-color;
      }
    }
  }

  span{
    display: flex;
    align-items: end;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
    color: $color-gray-500;

    img{
      width: 80px;
    }
  }
}